* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

.calculator {
    background-color: #000;
    width: 40rem;
    margin: auto;
}

.calcu-row {
    display: flex;
    width: 100%;
}

.calcu-output {
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: right;
    background-color: #000;
    color: #fff;
    border: none;
}

::placeholder {
    color: #fff;
}