* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

.calculator {
    background-color: #000;
    width: 40rem;
    margin: auto;
    font-size: 1.6rem;
}

.calcu-row {
    display: flex;
    width: 100%;
}

.screen {
    width: 40rem;
    height: 8.5rem;
    text-align: right;
    align-items: center;
    color: #fff;
    font-size: 4rem;
}

.calcu-button {
    width: 9.8rem;
    height: 10rem;
    margin: .1rem;
    background-color: #D8D9DB;
    font-size: 2.6rem;
}

.calcu-btn-clear {
    width: 19.8rem;
}

.calcu-btn-zero {
    width: 29.8rem;
}

.calcu-btn-color-themed {
    background-color: #df974c;
    color: #fff;
}