* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

.calculator {
    background-color: #000;
    width: 40rem;
    margin: auto;
    font-size: 1.6rem;
}

.calcu-row {
    display: flex;
    width: 100%;
}